* {
    box-sizing: border-box;
}

/* -------------------------------------------------
   General Page Styles
------------------------------------------------- */
body {
    margin: 0;
    background-color: #ffffff;
    color: black;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background: #7b348a; 
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    
}
nav a:hover {
    text-decoration: underline;
}

.container {
    width: 100%;
    /* margin: 20px auto; */
    padding: 20px;
    background: #f6f867;
}


h1, h2, h3 {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}


section, article {
    margin-bottom: 20px;
}

aside {
    background: #80b2f3;
    padding: 15px;
    /* border-left: 4px solid #97fb96; */
}

.sidebar {
    float: left;
    width: 35%;
    margin-right: 20px;
    background: #e9b833;
    padding: 15px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

ul li a{
   
    
    text-decoration: none;
} 

.video{
    position: relative;
    padding-left: 1100px;
}

footer {
    background: #7b348a;
    color: white;
    text-align: center;
    padding: 15px 0;
    
}



form label {
    display: block;
    margin-top: 10px;
}

input,
textarea {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

input[type="submit"] {
    background: #215743;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #3b6c3b;
}