*{
    box-sizing: border-box;
    
}
.square{
    width: 500px;
    height: 500px;
    border: 7px solid black;
    position: relative;
    background-color: black;
}

.white-1{
    position: absolute;
    width: 150px;
    height: 180px;
    border: 7px solid cyan;
    background-color: cyan;
}
.white-2{
    position: absolute;
    width: 150px;
    height: 180px;
    top: 190px;
    border: 7px solid magenta;
    background-color: magenta;
    
}

.blue{
    position: absolute;
    width: 150px;
    height: 110px;
    bottom: 0;
    border: 7px solid yellow;
    background-color: yellow;
}

.red{
    position: absolute;
    width: 335px;
    height: 370px;
    right: 0;
    top: 0;
    border: 7px solid red;
    background-color: red;
}

.white-3{
    position: absolute;
    width: 300px;
    height: 110px;
    left: 160px;
    bottom: 0;
    border: 7px solid green;
    background-color: green;
}

.white-4{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 50px;
    border: 7px solid blue;
    background-color: blue;
}

.yellow{
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 20px;
    height: 50px;
    border: 7px solid yellow;
    background-color: yellow;
}